
#contact_container {
  color:$border-orange;
  font-size: large;
  display: flex;
  justify-content: space-between;

}

/*#contact_info {
  //margin-left: 33vw;
}*/

#footer_container {
  display: flex;
  justify-content: space-around;
}

ion-title{
  font-size:small;
}