#roles_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  img {
    width: 16vw;
    height: 10vh;
    border: solid 2px;
    border-radius: 50%;
  }

  #hostyourself {
    border-color: $dark_indigo;
  }

  #participate {
    border-color: $dark_green;
  }

  #hostothers {
    border-color: $light-blue;
  }

  #cocreate {
    border-color: $blue_grey;    
  }
}

#button_container {
  display: flex;
  justify-content: center;
}

.green_button {
  background-color: $logo-green;
  color: white;
  min-width: 40vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 4vw;
  padding-right: 10vw;
}

#bitt {
  display: flex;
  justify-content: space-around;
}

button {
  //@extend ion-icon;
  background: none;
}

ion-icon {
  //Ion icons are font icons hence the sizing is done using the font-size property
  font-size: xx-large;
  min-width: 19vw;
}

.footer_button_text {
  font-size: small;
  font-weight: bold;
}

#back_button_icon {
  //Horizontally flips the icon
  -webkit-transform: scale(-1, 1);
  div {
  -webkit-transform: scale(-1, 1);
  }
}


