// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

//Colors of the Interaktion logo
$logo-gold: #a37a08;
$logo-blue: #6cb1ae;
$logo-green: #435c46;

//New colours declared in the same order as the email
$light-indigo: #cfb59e;
$dark-indigo: #4d3744;
$blue-grey: #8a9d87;
$dark-green: #36684d;
$light-blue: #6ab1af;
$dark-orange: #e67309;


#header_container {
  display: flex;
  justify-content: space-between;
  //align-items: baseline;
  img {
    //width: 50px;
    //height: 30px;
    width: 16vw;
    height: 8vw;
  }
  ion-title {
    margin-left: 3vw;
  }
  button {
    ion-icon {
    font-size: xx-large;
  }
  }
}



.pick_a_card_style {
        background: $light-indigo;
    }
