#aligner {
  width: 100%;
  padding: 0;
  margin: 0;
  h3 {
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
  }
}

ion-scroll[scrollX] {
  white-space: nowrap;
  width: 100vw;
  height:44vh;
  margin-top: 10vh;
  .scroll-item {
      background-color: white;
    .card-title {
      font-weight: bold;
      font-size: x-small;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 2vh;
    }
    //turn image instead of background
    border: solid 3px $border-orange;
    border-radius: 20px;
    display: inline-block;
    .card-image {
      margin-top: 1.5vh;
      margin-left: 2vw;
      content: url("../assets/bagside.jpeg");
      width: 30vw;
      height: 22vh;
    }
    width: 35vw;
    height: 30vh;
    margin-left: 1vw;
  }

  #center_card {
    width: 45vw;
    height: 40vh;
  }
}

#scroll_container {
  width: 100vw;
  height:44vh;
  display: flex;
  flex-direction: row;

}

#pointer {
  //Left like this for testing purposes will be removed later on in production
  margin-left: 30%;
  background-color: #8492A6;
  width: 47%;
  height:6vh;
  border-radius: 8%;
}

#footer_container {
  display: flex;
  justify-content: space-around;
}