#aligner {
  width: 100%;
  padding: 0;
  margin: 0;
  h3 {
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
  }
}

ion-scroll[scrollX] {
  white-space: nowrap;
  height:44vh;
  margin-top: 10vh;
  .scroll-item {
      background-color: white;
    .card-title {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 2vh;
    }
    //turn image instead of background
    border: solid 3px $border-orange;
    border-radius: 20px;
    display: inline-block;
    .card-image {
      content: url("../assets/bagside.png");
      //background-image: url("../assets/bagside.png");
      background-size: 30vw 30vh;
    }
    width: 45vw;
    height: 40vh;
    margin-left: 1vw;
  }
}

#pointer {
  margin-left: 45%;
  background-color: #8492A6;
  width:4vw;
  height:4vh;
}

#footer_container {
  display: flex;
  justify-content: space-around;
}