/*page-interaktion {
  margin-top: 5vh;
}*/

#center_text {
  display: flex;
  flex-direction: column;
  color: $border-orange;
  font-size: large;
  div {
    align-self: center;
  }
}

#aligner {
  width: 100%;
  display: flex;
  justify-content: center;  
}

#contact_button {
  background-color: $dark-indigo;
  color: white;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-right: 25vw;
  margin-top: 1vh;
  width: 40vw;
  //Should be using a more responsive sizing unit
  border-radius: 12px;
}

#footer_container {
  display: flex;
  justify-content: space-around;
}