#contact_button {
  background-color: $logo-green;
  color: white;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 4vw;
  padding-right: 10vw;
}

#footer_container {
  display: flex;
  justify-content: space-around;
}